.navbarmia div{
    background-color: #7B95AC;
    margin: 0%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: x-large;
    box-sizing: border-box;
    border-radius: 12px;
    border: 10px double #7B95AC;
}
.navbarmia div a{
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
.navbarmia div a:hover{
    transform: scale(1.1);
}
h5{
    color: black;
}
main{
    background-color: #7B95AC;
}
.carouselmio{
margin-top: auto;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-family: 'Bebas Neue'    
}
h3{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-family: 'Bebas Neue'

}
h4{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: white;
    font-family: 'Bebas Neue'
}
.cartas div{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.cartas div a{
    background-color: #7B95AC;
    border-color: #7B95AC;

}
.cartas div a:hover{
    transform: scale(2);
}
.cartas p{
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.cate{
    font-size: larger;
    display: flex;
    justify-content: baseline;
    background-color: #7B95AC;
    margin: 0%;
}
.endvar1 a{
    display: flex;
    justify-content: baseline;
    background-color: #7B95AC;
    text-decoration: none;
    color: black;
    font-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    margin-left: 1%;
    margin-top: 5%;
    font-family: 'Bebas Neue'
}
.correo{
    margin-top: 5%;
}
.cardpagos h4{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.cardpagos div{
    display: flex;
    justify-content: baseline;
}
.iconosmio{
    display: flex;
    justify-content: center;
}
.iconosmio div span{
    font-size: 70px;
}
.carouselfoto{
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    border-color: #7B95AC;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
}
.drop div{
    display: flex;
    justify-content: end;
    margin-top: 2%;
    margin-right: 2%;
}
.nosotros1 div{
    background-color: #7B95AC;
}
.nosotros h2{
    color: white;
    background-color: #7B95AC;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding-top: 3%;
    padding: 3%;
}
.nosotros h4{
    color: white;
    background-color: #7B95AC;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding: 3%;
    
}
.titulos{
    background-color: #7B95AC;
}
.butongrup{
    display: flex;
    justify-content: center;
}


